<!DOCTYPE html>
<html>

<head>

<title>CyberArena Dashboard</title>

<link
rel="stylesheet"
href="/static/style.css">

</head>

<body>

<div class="card">

<h1>CyberArena</h1>

<h3>Available Challenges</h3>

<a href="/start/sql">

<button>
SQL Injection Challenge
</button>

</a>

<br><br>

<a href="/start/cookie">

<button>
Cookie Tampering Challenge
</button>

</a>

<br><br>

<a href="/start/idor">

<button>
IDOR Challenge
</button>

</a>

<br><br>

<a href="/start/roman">

<button>
Roman Challenge
</button>

</a>

<br><br>

<a href="/logout">

<button>
Logout
</button>

</a>

</div>

</body>

</html>
